.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;

	@include screen(sm) {
		margin-bottom: 5rem;
	}

	> *:not(:last-child) {
		margin-bottom: 4rem;
	}
}